body{
  overflow: auto;
}

.headerTitle{
  margin-top: -20px;
  text-align: center;
}

.visualizationLabels{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualizationSelectors{
  text-align: center;
  width: 40%;
}